body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
   background: rgb(176, 180, 182)
    url("https://wallpapercave.com/wp/hPLjH8C.jpg");
  background-repeat: repeat;

/*   background-image: conic-gradient(
    rgba(28, 11, 28, 0.76) 45deg,
    rgb(27, 27, 12) 90deg,
    rgb(4, 29, 4) 210deg
  ); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  background-color: #a39f2a;
  color: #070707;
  text-align: center;
  padding: 30px;
}

h1 {
  margin: 10px;
  font-style: oblique;
}

input {
  padding: 10px;
  border-radius: 3px;
}

button {
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: black;
  color: #a39f2a;
}

main {
  padding: 10px;
}

.movie-card {
  background-image: linear-gradient(
    120deg,
    rgb(98, 62, 62),
    rgb(223, 223, 160)
  );
  border: 1px solid #dcd6d6;
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 14px;
}

.movie-poster {
  max-width: 65%;
  height: auto;
}
